
.plgAccordion{ 
    list-style: none;
    height: 100%;
  }
.plgAccordion > li > input{
    display: none;   
}
.plgAccordion > li > input[type="radio"]:not(:checked) ~ section { 
  height: 0;
}
.plgAccordion > li > input[type="radio"]:checked ~ section {
  height: auto;
}

.plgAccordion > li > input[type="checkbox"]:not(:checked) ~ section { 
  height: 0;
}
.plgAccordion > li > input[type="checkbox"]:checked ~ section {
  height: auto;
}

.plgAccordion > li > label {
    display: block;
    float: left;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.plgAccordion > li > input[type="radio"]:not(:checked) ~ label > * {
    white-space: nowrap;
}

.plgAccordion > li > input[type="checkbox"]:not(:checked) ~ label > * {
  white-space: nowrap;
}

.plgAccordion > li > section {
    display: block;
    height: 0px;
    padding: 0;
    float: left;
    overflow: hidden;
    position: relative;
    border: none;
    background-color: #fff;
}

.plgAccordion .plgAccordionContent{
    /* height: 100%; */
  }
  
  .plgAccordion .plgAccordionContainWrap{
    width: 100%;
  }

.plgAccordion .listItem{
    height: 100%;
    display: block;
}

