.plgHorizontalAccordion { 
  list-style: none;
  height:100%; 
  width:100%;
  overflow: hidden;
} 

.plgHorizontalAccordion > li > input{
    display: none;
}
.plgHorizontalAccordion > li > label {
  display: block;
  float: left;
  height: 100%;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.plgHorizontalAccordion > li > input[type="radio"]:not(:checked) ~ label > * {
  white-space: nowrap;
}

.plgHorizontalAccordion > li > section {
  display: block;
  width: 0px;
  height: 100%;
  padding: 0;
  float: left;
  overflow: hidden;
  position: relative;
  border: none;
  background-color: #fff;
}

.plgHorizontalAccordion > li > input[type="radio"]:checked ~ section {
  width: 100%;
}
.plgHorizontalAccordion .plgAccordionContent{
  height: 100%;
}

.plgHorizontalAccordion .plgAccordionContainWrap{
  width: 100%;
  height: 100%;
  position: absolute;
}

.plgHorizontalAccordion .listItem {
  height: 100%;
  display:inline-block;
}